body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f3f7fa;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 700px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  animation: revealer 2s ease-in-out forwards;
}

@keyframes revealer {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: scale(1.02);
    opacity: 1;
    box-shadow: 5px 7px 1px 1px #888888;
  }
}

.task-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border 0.3s;
}

.task-input input:focus {
  outline: none;
  border-color: #4a90e2;
}

.task-input button {
  padding: 10px 18px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.task-input button:hover {
  background: #0056b3;
  transform: scale(1.05);
}

.task-item {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.task-text {
  flex: 1;
  font-size: 16px;
  margin-right: 10px;
  word-break: break-word;
}

.edit-input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.edit-btn:hover {
  background: #0056b3;
   transform: scale(1.05);
}

.delete-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-btn:hover {
  background: #1e7e34;
   transform: scale(1.05);
}

.complete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.complete-btn:hover {
  background: #bd2130;
   transform: scale(1.05);
}

.completed .task-text {
  text-decoration: line-through;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}
